{{!-- <body class="home">
    <div class="container">

        <div class="row">

            <div class="col-md-2"></div>
            <div class="col-md-8">


                <div class="panel panel-default" id="home">
                    <div class="panel-body">

                        <div class="header"><img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Friends_logo.svg" width="300px">&nbsp;&nbsp;F I N D E R</div>
                        <br>

                        <div class="intro">Answer a few basic questions as your Pet.
                            <br>Then find the friend with the greatest compatability!
                        </div>

                        <br>
                        <a href="/survey"><button type="button" class="btn btn-default" id="searchButton">Start Survey</button></a>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>

        </div>
    </div>

</body> --}}


<body>
  <div class="card text-dark">
    <img class="card-img" src="./image1.png" alt="Card image">
    <div class="card-img-overlay">
      <div class="jumbotron jumbotron-fluid bg-light shadow p-3 mb-5 bg-white rounded" style="margin-top: 40%;">
        <div class="container">
          <h1 class="display-3 text-info mt-3">Pet Friend Finder</h1>
          <p class="lead">Answer a few basic questions as your pet.<br>
                          Then find the friend you're pet is most compatible with.</p>
          <a href="/survey">
            <button type="button" class="btn btn-primary bg-info">Go to Survey</button>
          </a>
        </div>
      </div>
      <div class='col s4'>
          <p>
              <a href='./api/friends' class="text-info">API Friends List</a> |
              <a href='https://github.com/thomson3914/Pet-Friend-Finder' class="text-info" target='_blank'>GitHub Repo</a>
          </p>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script> --}}
</body>
