<body class="ahmed">

	<div class="card text-dark">
		<img class="card-img" src="https://www.petmd.com/sites/default/files/small-dog-breeds.jpg" alt="Card image">
		<div class="card-img-overlay col-md-7">
            <div class="jumbotron jumbotron-fluid bg-light shadow p-3 mb-5 bg-white rounded" style="margin-top: 10%;">
				<div class="container">
					<h1 class="display-3 padding-bottom-3 text-info bg-secondary mt-3" style="margin-bottom: 10px">Pick-a-Pal</h1>
                    <br>
                    <h2 class="text-light mt-3">Pick for your Family</h2>
                    <p class="lead text-light">Are you looking to add a new furry friend to your home?
                        {{!-- <br>Answer a few questions to find a compatible match! --}}
                    </p>
                    <a href="/survey/">
                        <button type="button" class="btn btn-primary bg-info">Go to Survey</button>
                    </a>    
                </div>

                <div class="jumbotron jumbotron-fluid bg-transparent shadow p-3 mb-5 bg-secondary rounded" style="margin-top: 2%;">
                    <h2 class="display-5 text-light mt-3">Pick for your Pet</h2>
                    <p class="lead text-light">Does your furry companion love playing with other animals?
                        {{!-- <br>Answer a few questions to find a great playdate match! --}}
                    </p>
                    <a href="/playdate/">
                        <button type="button" class="btn btn-primary bg-info">Go to Survey</button>
                    </a>
                </div>               
            </div>

            <div class="col-md-5"></div>
        </div>

    </div>

    <div class='col s4' style="margin-top: 30%;">
        <div class="container">
            <p>
                <a href='https://github.com/ahmedharazi/Pick-A-Pal' class="text-info" target='_blank'>GitHub Repo</a>
            </p>
        </div>
    </div>

    {{!-- <style>
        .ahmed {
            background-image: url("https://www.petmd.com/sites/default/files/small-dog-breeds.jpg");
            background-size: cover;
            text-align: center
    </style> --}}

</body>