<!DOCTYPE html>
<html>

<head>
	<title>Survey || Find Your Pet's New BFF  </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="container">
<div class="row">
		<h1 class="bold">Survey Questions</h1>
		<hr>
</div>

<!--About You-->
<div class="row">
		<div class="aboutyou col-md-12">
			<div class="col-md-12">
				<h4 class="semibold">Name <span class="normal">(Required)</span></h4>	
			    <input type="text" class="form-control inputtxt" id="name" placeholder="Type your name here">
				<h4 class="semibold">Link to Photo <span class="normal">(Required)</span></h4>	
			    <input type="text" class="form-control inputtxt" id="photo" placeholder="Type your link here">
			</div>
		</div>		
</div>

<!--Questions-->
<div class="row">
	<div class="col-md-12">
	
	<!--Question 1-->
		<h4 class="question semibold">1. I Live in a Large Home With Abundant Outdoor Space.</h4>
			<form class="form" id="q1">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default btnform"><input name="ques1" value="1" type="radio">Totally Agree</label>
					<label class="btn btn-default btnform"><input name="ques1" value="2" type="radio">Somewhat Agree</label>
					<label class="btn btn-default btnform"><input name="ques1" value="3" type="radio">Indifferent</label>
					<label class="btn btn-default btnform"><input name="ques1" value="4" type="radio">Somewhat Disagree</label>
					<label class="btn btn-default btnform"><input name="ques1" value="5" type="radio">Totally Disagree</label>
        		</div>
        	</form>
		<!--Question 1 end -->

		<!--Question 2-->
		<h4 class="question semibold">2. I am not a cat.</h4>
			<form class="form" id="q2">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default btnform"><input name="ques2" value="1" type="radio">Totally Agree</label>
					<label class="btn btn-default btnform"><input name="ques2" value="2" type="radio">Somewhat Agree</label>
					<label class="btn btn-default btnform"><input name="ques2" value="3" type="radio">Indifferent</label>
					<label class="btn btn-default btnform"><input name="ques2" value="4" type="radio">Somewhat Disagree</label>
					<label class="btn btn-default btnform"><input name="ques2" value="5" type="radio">Totally Disagree</label>
        		</div>
        	</form>
		<!--Question 2 end -->

		<!--Question 3-->
		<h4 class="question semibold">3. I am extra large and in charge.</h4>
			<form class="form" id="q3">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default btnform"><input name="ques3" value="1" type="radio">Totally Agree</label>
					<label class="btn btn-default btnform"><input name="ques3" value="2" type="radio">Somewhat Agree</label>
					<label class="btn btn-default btnform"><input name="ques3" value="3" type="radio">Indifferent</label>
					<label class="btn btn-default btnform"><input name="ques3" value="4" type="radio">Somewhat Disagree</label>
					<label class="btn btn-default btnform"><input name="ques3" value="5" type="radio">Totally Disagree</label>
        		</div>
        	</form>
		<!--Question 3 end -->

		<!--Question 4-->
		<h4 class="question semibold">4. I am obedient and play well with others.</h4>
			<form class="form" id="q4">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default btnform"><input name="ques4" value="1" type="radio">Totally Agree</label>
					<label class="btn btn-default btnform"><input name="ques4" value="2" type="radio">Somewhat Agree</label>
					<label class="btn btn-default btnform"><input name="ques4" value="3" type="radio">Indifferent</label>
					<label class="btn btn-default btnform"><input name="ques4" value="4" type="radio">Somewhat Disagree</label>
					<label class="btn btn-default btnform"><input name="ques4" value="5" type="radio">Totally Disagree</label>
        		</div>
        	</form>
		<!--Question 4 end -->

		<!--Question 5-->
		<h4 class="question semibold">5. If I see someone barks, I’ll want to bark too.</h4>
			<form class="form" id="q5">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default btnform"><input name="ques5" value="1" type="radio">Totally Agree</label>
					<label class="btn btn-default btnform"><input name="ques5" value="2" type="radio">Somewhat Agree</label>
					<label class="btn btn-default btnform"><input name="ques5" value="3" type="radio">Indifferent</label>
					<label class="btn btn-default btnform"><input name="ques5" value="4" type="radio">Somewhat Disagree</label>
					<label class="btn btn-default btnform"><input name="ques5" value="5" type="radio">Totally Disagree</label>
        		</div>
        	</form>
		<!--Question 5 end -->


<!--Question 6-->
		<h4 class="question semibold">6. I am a lap dog.</h4>
			<form class="form" id="q6">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default btnform"><input name="ques6" value="1" type="radio">Totally Agree</label>
					<label class="btn btn-default btnform"><input name="ques6" value="2" type="radio">Somewhat Agree</label>
					<label class="btn btn-default btnform"><input name="ques6" value="3" type="radio">Indifferent</label>
					<label class="btn btn-default btnform"><input name="ques6" value="4" type="radio">Somewhat Disagree</label>
					<label class="btn btn-default btnform"><input name="ques6" value="5" type="radio">Totally Disagree</label>
        		</div>
        	</form>
		<!--Question 6 end -->

		<!--Question 7-->
		<h4 class="question semibold">7. I will do anything for a treat.</h4>
			<form class="form" id="q7">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default btnform"><input name="ques7" value="1" type="radio">Totally Agree</label>
					<label class="btn btn-default btnform"><input name="ques7" value="2" type="radio">Somewhat Agree</label>
					<label class="btn btn-default btnform"><input name="ques7" value="3" type="radio">Indifferent</label>
					<label class="btn btn-default btnform"><input name="ques7" value="4" type="radio">Somewhat Disagree</label>
					<label class="btn btn-default btnform"><input name="ques7" value="5" type="radio">Totally Disagree</label>
        		</div>
        	</form>
		<!--Question 7 end -->

		<!--Question 8-->
		<h4 class="question semibold">8. I am fancy and require my spa treatments.</h4>
			<form class="form" id="q8">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default btnform"><input name="ques8" value="1" type="radio">Totally Agree</label>
					<label class="btn btn-default btnform"><input name="ques8" value="2" type="radio">Somewhat Agree</label>
					<label class="btn btn-default btnform"><input name="ques8" value="3" type="radio">Indifferent</label>
					<label class="btn btn-default btnform"><input name="ques8" value="4" type="radio">Somewhat Disagree</label>
					<label class="btn btn-default btnform"><input name="ques8" value="5" type="radio">Totally Disagree</label>
        		</div>
        	</form>
		<!--Question 8 end -->

		<!--Question 9-->
		<h4 class="question semibold">9. I feel comfortable wearing costumes.</h4>
			<form class="form" id="q9">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default btnform"><input name="ques9" value="1" type="radio">Totally Agree</label>
					<label class="btn btn-default btnform"><input name="ques9" value="2" type="radio">Somewhat Agree</label>
					<label class="btn btn-default btnform"><input name="ques9" value="3" type="radio">Indifferent</label>
					<label class="btn btn-default btnform"><input name="ques9" value="4" type="radio">Somewhat Disagree</label>
					<label class="btn btn-default btnform"><input name="ques9" value="5" type="radio">Totally Disagree</label>
        		</div>
        	</form>
		<!--Question 9 end -->

		<!--Question 10-->
		<h4 class="question semibold">10. I don't know who my father was.</h4>
			<form class="form" id="q10">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default btnform"><input name="ques10" value="1" type="radio">Totally Agree</label>
					<label class="btn btn-default btnform"><input name="ques10" value="2" type="radio">Somewhat Agree</label>
					<label class="btn btn-default btnform"><input name="ques10" value="3" type="radio">Indifferent</label>
					<label class="btn btn-default btnform"><input name="ques10" value="4" type="radio">Somewhat Disagree</label>
					<label class="btn btn-default btnform"><input name="ques10" value="5" type="radio">Totally Disagree</label>
        		</div>
        	</form>
		<!--Question 10 end -->

		<br>
	
	<!--button-->
<button type="button" class="btn btn-block submitButton bold" id="submit">Find your Pet's new BFF!</button>
<!--button end -->

</div>
</div>

<!--container end -->

<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header text-center">
	       <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>-->
	        <h2 class="modal-title bold">Your pet's New BFF is:</h2>
	      </div>
	      <div class="modal-body text-center">
	        <h2 id="matchName" class="semibold"></h2>
	        <img id="matchImg" src="https://image.freepik.com/free-icon/sad-face-in-rounded-square_318-58669.png" alt="">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default modalBtn" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>
<!---Modal End -->

<!--Alert modal -->
<div id="alertModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header text-center">
	        <h2 class="modal-title bold">oops!</h2>
	      </div>
	      <div class="modal-body text-center">
	        <h2 id="alertMsg" class="semibold"></h2>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default modalBtn2" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>

<!--End Alert modal -->

</div>

<!-- footer -->
<footer>
	<div class="footer text-center">
		<p>
		<a href="/API/friends" target="_blank">View the API</a> | <a href="https://github.com/thomson3914/Pet-Friend-Finder" target="_blank">Git Hub Repo</a>
		</p>
	</div>
</footer>

<!-- end footer -->


<script type="text/javascript">

//add active class to clisked button and remove active class from siblings
$(".btn-group > .btn").click(function(){
    $(this).addClass("active").siblings().removeClass("active");
});



$('#submit').on( 'click', function(){  

//validation

	if($('#name').val() == ""){
		  	$('#alertMsg').html('Please fill in your name');
		 	$('#alertModal').modal('toggle'); 
		 	$('#name').focus(); 

	} else if ($('#photo').val() == ""){
		  	$('#alertMsg').html('Please add a photo');
		 	$('#alertModal').modal('toggle');
		 	$('#photo').focus();

	} else if ($('input[name=ques1]:checked', '#q1').val() == undefined ){
		  	$('#alertMsg').html('Please answer Question 1');
		 	$('#alertModal').modal('toggle');

	} else if ($('input[name=ques2]:checked', '#q2').val() == undefined ){
		  	$('#alertMsg').html('Please answer Question 2');
		 	$('#alertModal').modal('toggle');

	} else if ($('input[name=ques3]:checked', '#q3').val() == undefined ){
		  	$('#alertMsg').html('Please answer Question 3');
		 	$('#alertModal').modal('toggle');

	} else if ($('input[name=ques4]:checked', '#q4').val() == undefined ){
		  	$('#alertMsg').html('Please answer Question 4');
		 	$('#alertModal').modal('toggle');

	} else if ($('input[name=ques5]:checked', '#q5').val() == undefined ){
		  	$('#alertMsg').html('Please answer Question 5');
		 	$('#alertModal').modal('toggle');

	} else if ($('input[name=ques6]:checked', '#q6').val() == undefined ){
		  	$('#alertMsg').html('Please answer Question 6');
		 	$('#alertModal').modal('toggle');

	} else if ($('input[name=ques7]:checked', '#q7').val() == undefined ){
		  	$('#alertMsg').html('Please answer Question 7');
		 	$('#alertModal').modal('toggle');

	} else if ($('input[name=ques8]:checked', '#q8').val() == undefined ){
		  	$('#alertMsg').html('Please answer Question 8');
		 	$('#alertModal').modal('toggle');

	} else if ($('input[name=ques9]:checked', '#q9').val() == undefined ){
		  	$('#alertMsg').html('Please answer Question 9');
		 	$('#alertModal').modal('toggle');

	} else if ($('input[name=ques10]:checked', '#q10').val() == undefined ){
		  	$('#alertMsg').html('Please answer Question 10');
		 	$('#alertModal').modal('toggle');
		 	
	} else {

	var userdata = {
		name: $('#name').val().trim(),
		photo: $('#photo').val().trim(),
		scores: [$('input[name=ques1]:checked', '#q1').val(),
				$('input[name=ques2]:checked', '#q2').val(),	
				$('input[name=ques3]:checked', '#q3').val(),
				$('input[name=ques4]:checked', '#q4').val(),
				$('input[name=ques5]:checked', '#q5').val(),
				$('input[name=ques6]:checked', '#q6').val(),
				$('input[name=ques7]:checked', '#q7').val(),
				$('input[name=ques8]:checked', '#q8').val(),
				$('input[name=ques9]:checked', '#q9').val(),
				$('input[name=ques10]:checked', '#q10').val()
				]
	}

// Grab the URL of the current webpage
	  var currentURL = window.location.origin;
	  //alert(currentURL);
// AJAX post
	$.post(currentURL + '/API/friends', userdata, function(data){
		$("#matchName").text(data.name);
	    $('#matchImg').attr("src", data.photo);
	    
//show modal
	
	$('#myModal').modal('toggle');    

	});
}

 });


// modal button resets form 
$('.modalBtn').on('click', function(){
	$('#name').val("");
	$('#photo').val("");
	$('label').removeClass('active');
})



</script>


</body>
</html>